*{
    padding: 0;
    margin: 0;
}
section{
    background-image: url("../img/index/17704gray-min.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}
header{
    margin: 10px auto;
    max-width: 70%;
    min-width: 100px;
}
header div{
    display: inline-block;
    vertical-align: middle;
    text-align: center;

}
header div[data-side="left"]{
    width: 25%;
}
header div[data-side="right"]{
    width: 74%;
    white-space: nowrap;
    /* text-align: right; */
}
#header-menu{
}
#header-menu span{
    border-radius: 0.5em;;
    margin: 0 3px;
    padding: 5px 8px;
    background: #44538a;
    color: #fff;
    transition: all .25s;
}

#header-menu span:hover{
    margin: 0 1px;
    padding: 8px 10px;
    background:orange;
}

#header-menu span.glide__bullet--active{
    background:orange;
}
section div.slider__track{
    max-height: 700px;
}

section ul.slider__slides > li.slider__frame{
    margin: auto;
    text-align: center;
}
section ul li.slider__frame > div{
    display: inline-block;
    vertical-align: middle;
    max-width: 49%;
}
section ul li.slider__frame > div[data-side="left"]{
    background-color: #888b;
    border-radius: 0.5em;
}
section ul li div[data-side="right"]{
    /* -webkit-box-shadow: inset 0px 0px 49px 55px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 0px 49px 55px rgba(255,255,255,1);
    box-shadow: inset 0px 0px 49px 55px rgba(255,255,255,1); */

}
section ul li div[data-side="right"] img{
    display: block;
    max-height: 607px;
    max-width: 90%;
    margin: auto;
    border-radius: 0.5em;
}
section ul li article{
    margin: 30px 10px 5px 10px;
}

section ul li article h1{
    font-size: 60px;
}

section ul li article > ul{
    list-style-position: outside;
    /* padding-left: 10px; */
}
section ul li article > ul li{
    text-align: justify;
    margin-top: 10px;
    margin-left: 30px;
}

section ul li article p{
    text-align: justify;
}

footer p{
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    header{
      max-width: 100%;
    }
    header div{
        display: block;
        margin: 10px auto;
    }
    header div[data-side="right"]{
        width: 100%;
    }
    section ul li.slider__frame > div iframe{
        max-width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    section{
        background-position: top;
        background-size: 200%;
    }
    section ul li.slider__frame > div{
        max-width: 100%;
    }
    section div.slider__track {
        max-height: 900px;
    }
    section ul.slider__slides > li.slider__frame{
        margin:3px
    }
}
@media only screen and (max-width: 530px){
    #header-menu span{
        display: block;
        margin: 3px 3px;
    }
    #header-menu span:hover{
        margin: 3px 3px;
        padding: 5px 8px;
    }
    header div[data-side="left"]{
        width: auto;
    }
}

